@import ../../../sass/_variables


.bigpic
    width: calc( 100%  - 0rem)
    height: calc( 100vh - 5rem)
    padding: 1rem
    position: relative
    overflow: auto
    &__picbox
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        height: 90%
        @media (max-width: 700px)
            left: 5%
            transform: translate(-0%, -50%)

    &__pic
        height: 100%