@font-face {
  font-family: "Roboto";
  src: url("./Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Robotobold";
  src: url("./Robotobold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Robotothin";
  src: url("./Robotothin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fira";
  src: url("./Firasansultra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --index: calc( 1vw + 1vh );
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  background: rgb(34, 34, 34);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

.fontsize2rem {
  font-size: 2rem;
}

.fontsize1rem {
  font-size: 1.1rem;
}

.fontsize1-5rem {
  font-size: 1.5rem;
}

.colorLight {
  color: rgb(201, 201, 201);
}

.white {
  color: rgb(255, 255, 255);
}

.taright {
  text-align: right;
}

.taleft {
  text-align: left;
}

.tacenter {
  text-align: center;
}

.tajustify {
  text-align: justify;
}

.marginbottom5 {
  margin-bottom: 5rem;
}

.marginbottom2 {
  margin-bottom: 2rem;
}

.marginbottom3 {
  margin-bottom: 3rem;
}

.margin1 {
  margin: 1rem;
}

.marginright1 {
  margin-right: 1rem;
}

.margin2 {
  margin: 2rem;
}

a {
  color: rgb(148, 154, 156);
  text-decoration: none;
  font-size: 1.5rem;
}

.active {
  color: #F5F0F1;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.upper {
  text-transform: uppercase;
}

button {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.svg {
  display: flex;
  min-height: 3rem;
  max-height: 5rem;
}

.svgbox {
  height: 100%;
  width: 100%;
}

.absolutecenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Robotobold";
  src: url("./Robotobold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Robotothin";
  src: url("./Robotothin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fira";
  src: url("./Firasansultra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --index: calc( 1vw + 1vh );
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  background: rgb(34, 34, 34);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

.fontsize2rem {
  font-size: 2rem;
}

.fontsize1rem {
  font-size: 1.1rem;
}

.fontsize1-5rem {
  font-size: 1.5rem;
}

.colorLight {
  color: rgb(201, 201, 201);
}

.white {
  color: rgb(255, 255, 255);
}

.taright {
  text-align: right;
}

.taleft {
  text-align: left;
}

.tacenter {
  text-align: center;
}

.tajustify {
  text-align: justify;
}

.marginbottom5 {
  margin-bottom: 5rem;
}

.marginbottom2 {
  margin-bottom: 2rem;
}

.marginbottom3 {
  margin-bottom: 3rem;
}

.margin1 {
  margin: 1rem;
}

.marginright1 {
  margin-right: 1rem;
}

.margin2 {
  margin: 2rem;
}

a {
  color: rgb(148, 154, 156);
  text-decoration: none;
  font-size: 1.5rem;
}

.active {
  color: #F5F0F1;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.upper {
  text-transform: uppercase;
}

button {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.svg {
  display: flex;
  min-height: 3rem;
  max-height: 5rem;
}

.svgbox {
  height: 100%;
  width: 100%;
}

.absolutecenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app {
  font: 1.6rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  position: relative;
}
.app__content {
  width: 100%;
  height: 93vh;
  text-align: center;
  padding: 1rem;
  position: relative;
  transition: all 0.3s;
}

.flexappcontent {
  width: 84%;
  transition: all 0.3s;
}
@media (max-width: 700px) {
  .flexappcontent {
    width: 100%;
  }
}

.mainfonbox {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

.mainfon {
  width: 1980px;
  z-index: -1;
}

.light {
  background: #a2c8ca;
  color: rgb(9, 11, 14);
  transition: all 0.3s;
}
.light a {
  color: rgb(9, 11, 14);
}
.light .active {
  color: red;
}

.dark {
  background: rgb(34, 34, 34);
  color: rgb(201, 201, 201);
  transition: all 0.3s;
}
.dark a {
  color: rgb(201, 201, 201);
}
.dark .active {
  color: #194f74;
}

.ruby {
  background: #811300;
  color: #F5F0F1;
  transition: all 0.3s;
}
.ruby a {
  color: #F5F0F1;
}
.ruby .active {
  color: #e00000;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.mainpage {
  width: calc(100% - 0rem);
  height: calc(100vh - 5rem);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainpage__boxcontent {
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mainpage__header {
  color: rgb(201, 201, 201);
  font-size: calc(var(--index) * 7);
  font-family: "Rowdies", sans-serif, "Robotobold";
  font-weight: 600;
  font-style: normal;
  line-height: calc(var(--index) * 6);
}
@media (max-width: 430px) {
  .mainpage__header {
    font-size: calc(var(--index) * 5);
  }
}
.mainpage__title {
  font-size: calc(var(--index) * 1.5);
  color: rgb(201, 201, 201);
}
.mainpage__links {
  position: relative;
  top: 10rem;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Robotobold";
  src: url("./Robotobold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Robotothin";
  src: url("./Robotothin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fira";
  src: url("./Firasansultra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --index: calc( 1vw + 1vh );
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  background: rgb(34, 34, 34);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

.fontsize2rem {
  font-size: 2rem;
}

.fontsize1rem {
  font-size: 1.1rem;
}

.fontsize1-5rem {
  font-size: 1.5rem;
}

.colorLight {
  color: rgb(201, 201, 201);
}

.white {
  color: rgb(255, 255, 255);
}

.taright {
  text-align: right;
}

.taleft {
  text-align: left;
}

.tacenter {
  text-align: center;
}

.tajustify {
  text-align: justify;
}

.marginbottom5 {
  margin-bottom: 5rem;
}

.marginbottom2 {
  margin-bottom: 2rem;
}

.marginbottom3 {
  margin-bottom: 3rem;
}

.margin1 {
  margin: 1rem;
}

.marginright1 {
  margin-right: 1rem;
}

.margin2 {
  margin: 2rem;
}

a {
  color: rgb(148, 154, 156);
  text-decoration: none;
  font-size: 1.5rem;
}

.active {
  color: #F5F0F1;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.upper {
  text-transform: uppercase;
}

button {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.svg {
  display: flex;
  min-height: 3rem;
  max-height: 5rem;
}

.svgbox {
  height: 100%;
  width: 100%;
}

.absolutecenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiperpage {
  width: calc(100% - 0rem);
  height: calc(100vh - 6rem);
  padding: 1rem;
}
.swiperpage__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperpage__swiperbox {
  width: 100%;
  height: 100%;
}
@media (max-width: 720px) {
  .swiperpage__swiperbox {
    height: -moz-max-content;
    height: max-content;
  }
}
.swiperpage__item {
  width: 80vw;
  height: 70vh;
}
.swiperpage__box {
  display: flex;
}
.swiperpage__picbox {
  height: 100%;
  width: 100%;
}
@media (max-width: 720px) {
  .swiperpage__picbox {
    width: 100%;
    height: auto;
  }
}
.swiperpage__pic {
  height: 100%;
  width: auto;
}
@media (max-width: 720px) {
  .swiperpage__pic {
    height: auto;
    width: 100%;
  }
}

.swiper-wrapper {
  height: 100%;
  align-items: center;
}
@media (max-width: 720px) {
  .swiper-wrapper {
    height: none;
    align-items: center;
  }
}

.articles {
  width: calc(100% - 0rem);
  height: calc(100vh - 5rem);
  padding: 1rem;
  overflow: hidden;
}
.articles__btn {
  background: none;
  outline: none;
  border: none;
  color: rgb(148, 154, 156);
  font-size: 1.2rem;
}
.articles__headerbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.articles__text {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.articles__itembox {
  width: 100%;
  height: calc(100vh - 7rem);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
  scrollbar: 0px;
}
.articles__itembox::-webkit-scrollbar {
  width: 7px;
}
.articles__itembox::-webkit-scrollbar-thumb {
  width: 7px;
  background: rgb(9, 11, 14);
}

.articles-item {
  min-width: 20rem;
  max-width: 30rem;
  min-height: -moz-max-content;
  min-height: max-content;
  max-height: 35rem;
  padding: 1rem;
  margin: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.articles-item__picbox {
  width: 98%;
  padding: 1%;
  height: auto;
  margin-bottom: 1rem;
}
.articles-item__picbox__pic {
  width: 100%;
  max-height: 33rem;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Robotobold";
  src: url("./Robotobold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Robotothin";
  src: url("./Robotothin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fira";
  src: url("./Firasansultra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --index: calc( 1vw + 1vh );
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  background: rgb(34, 34, 34);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

.fontsize2rem {
  font-size: 2rem;
}

.fontsize1rem {
  font-size: 1.1rem;
}

.fontsize1-5rem {
  font-size: 1.5rem;
}

.colorLight {
  color: rgb(201, 201, 201);
}

.white {
  color: rgb(255, 255, 255);
}

.taright {
  text-align: right;
}

.taleft {
  text-align: left;
}

.tacenter {
  text-align: center;
}

.tajustify {
  text-align: justify;
}

.marginbottom5 {
  margin-bottom: 5rem;
}

.marginbottom2 {
  margin-bottom: 2rem;
}

.marginbottom3 {
  margin-bottom: 3rem;
}

.margin1 {
  margin: 1rem;
}

.marginright1 {
  margin-right: 1rem;
}

.margin2 {
  margin: 2rem;
}

a {
  color: rgb(148, 154, 156);
  text-decoration: none;
  font-size: 1.5rem;
}

.active {
  color: #F5F0F1;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.upper {
  text-transform: uppercase;
}

button {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.svg {
  display: flex;
  min-height: 3rem;
  max-height: 5rem;
}

.svgbox {
  height: 100%;
  width: 100%;
}

.absolutecenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about {
  width: calc(100% - 0rem);
  height: calc(100vh - 5rem);
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about__photo {
  width: 25rem;
  height: 30rem;
  margin-bottom: 3rem;
}
.about__photo__img {
  width: 100%;
  border-radius: 7px;
}
.about__text {
  text-align: center;
  width: 80%;
  padding: 1rem;
  color: rgb(201, 201, 201);
}

.preloaderbox {
  height: 90%;
  width: calc(100% - 20rem);
  position: relative;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 150px;
  height: 150px;
}
.preloader__text {
  text-align: center;
}

.preloader:after {
  content: "";
  display: block;
  width: 140px;
  height: 140px;
  margin: 8px;
  border-radius: 50%;
  border: 15px solid transparent;
  border-color: rgb(34, 34, 34) transparent rgb(34, 34, 34) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.preloaderboxgrad {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.preloadergrad {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.preloadergrad::before {
  content: "";
  display: block;
  position: absolute;
  left: -25rem;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(80deg, rgba(255, 252, 252, 0) 20%, rgba(255, 255, 255, 0.4666666667) 50%, rgba(255, 255, 255, 0) 80%);
  animation: load 1s infinite;
}
@keyframes load {
  0% {
    left: -250px;
  }
  100% {
    left: 100%;
  }
}

.preloaderboxgradsize {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.preloadergradsize {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.preloadergradsize::before {
  content: "";
  display: block;
  position: absolute;
  left: -25rem;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(80deg, rgba(255, 252, 252, 0) 20%, rgba(255, 255, 255, 0.4666666667) 50%, rgba(255, 255, 255, 0) 80%);
  animation: load 1s infinite;
}
@keyframes load {
  0% {
    left: -250px;
  }
  100% {
    left: 100%;
  }
}

.preloaderboxgradsize90deg {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.preloadergradsize90deg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.preloadergradsize90deg::before {
  content: "";
  display: block;
  position: absolute;
  top: -25rem;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(255, 252, 252, 0) 2%, rgba(255, 255, 255, 0.4666666667) 50%, rgba(255, 255, 255, 0) 98%);
  animation: load2 1s infinite;
}
@keyframes load2 {
  0% {
    top: -250px;
  }
  100% {
    top: 100%;
  }
}

.notfound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 5;
}
.navbar__lengbtn {
  margin-right: 2rem;
  background: none;
  outline: none;
  border: none;
  color: rgb(148, 154, 156);
  font-size: 1.2rem;
}

.sidebar {
  width: 20rem;
  height: calc(100vh - 5rem);
  position: absolute;
  top: 5rem;
  left: -19rem;
  background: rgba(0, 0, 0, 0.4588235294);
  border-radius: 0.7rem;
  transition: all 0.4s;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
@media (max-width: 700px) {
  .sidebar {
    background: rgb(34, 34, 34);
    border: 2px solid rgb(148, 154, 156);
  }
}
.sidebar__linkbox {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 2rem;
  transition: all 0.3s;
}
.sidebar__linkbox__link {
  text-align: left;
}
.sidebar__linkbox__link:hover {
  scale: 105%;
  transition: all 0.3s;
}
.sidebar__hiddenbtn {
  background: none;
  outline: none;
  border: none;
  color: rgb(148, 154, 156);
  font-size: 1.5rem;
  position: absolute;
  bottom: 1rem;
  left: 17rem;
  background: rgba(0, 0, 0, 0.4431372549);
  border-radius: 0.4rem;
  transition: all 0.4s;
}
@media (max-width: 700px) {
  .sidebar__hiddenbtn {
    background: rgb(34, 34, 34);
    border: 2px solid rgb(148, 154, 156);
  }
}
.sidebar__hiddenbtn:hover {
  background: rgba(0, 0, 0, 0.6117647059);
  color: white;
}
@media (max-width: 700px) {
  .sidebar__hiddenbtn:hover {
    background: #000000;
  }
}

.hiddenbtnhid {
  transition: all 0.4s;
  transform: rotate(90deg);
  left: 17rem;
  bottom: 2rem;
}

.sidebarhidden {
  left: -1rem;
  transition: all 0.4s;
}/*# sourceMappingURL=index.css.map */